:root {
  --muted: #fbf1e9;
  --background: #f9f9f9;
  --foreground: #3c3836;
  --foreground-muted: #7c6f64;
  --primary: #d75f5f;
  --secondary: #fabd2f;
  --accent: #83a598;
  box-sizing: border-box !important;
}

* {
  box-sizing: border-box !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--muted);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--foreground-muted);
}

header > nav {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
}

header > nav > a {
  color: var(--foreground);
  cursor: pointer;
}

header > nav > a:first-child {
  margin-right: 1rem;
}

header > nav > a:not(:has(img)) {
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: 150ms;
  border-radius: 0.5rem;
  height: 100%;
}

header > nav > a:not(:has(img)):hover {
  background-color: var(--primary);
  color: var(--muted);
}

header > nav > a > img {
  width: 4rem;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

/* right side, search and user acc */
header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

header > div > input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--foreground-muted);
  border-radius: 0.5rem;
}

header > div img {
  width: 1.7rem;
  height: 1.7rem;
}

header > div > a:has(img) {
  object-fit: cover;
  overflow: hidden;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 150ms;
}

header > div > a:has(img):hover {
  background-color: var(--primary);
}

main {
  padding: 2rem;
}

main > h1 {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  font-size: 0.9rem;
  color: var(--foreground-muted);
}

.main-body {
  display: flex;
  gap: 0rem;
}

.filters-container {
  border: 1px solid var(--foreground-muted);
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  max-height: 70vh;
  height: auto;
  min-height: 0;
  min-width: 12rem;

  display: flex;
  flex-direction: column;
}

.filters-container > h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.filters-container > div {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.filters-container > div > h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.filters-container > div > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.2rem;
}

.filters-container > div label {
  cursor: pointer;
  color: var(--foreground-muted);
}

.filters-container > div label:has(~ input:checked) {
  color: var(--foreground);
}

.filters-container > button {
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--muted);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 150ms;
  min-width: max-content;
  width: 100%;
  align-self: center;
}

.filters-container > button:hover,
.filters-container > button:focus-visible {
  background-color: var(--primary);
}

/* main > .main-body > div == .product-grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 2rem;
}

.product-card {
  border: 1px solid
    color-mix(in srgb, var(--foreground-muted) 50%, transparent 50%);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 15rem;
  cursor: pointer;
  transition: 150ms;
  overflow: hidden;
}

.product-card:hover {
  border-color: var(--primary);
}

.product-card > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card > img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.product-card button {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--muted);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 150ms;
}

.product-card button:hover,
.product-card button:focus-visible {
  background-color: var(--secondary);
}

.product-grid .page-count {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.page-count {
  display: flex;
  gap: 0.5rem;
}

.page-count > button {
  padding: 0.5rem 1rem;
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground-muted);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 150ms;
}

.page-count > button:hover,
.page-count > button:focus-visible {
  background-color: var(--primary);
  color: var(--muted);
  border-color: var(--primary);
}

/* CTA */
.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 6rem 6rem;
  margin: 2rem 0;
  background-color: var(--primary);
  color: var(--background);
}

.cta > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.cta > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta > form {
  width: 100%;
  padding: 0 4rem;
}

.cta > form > input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.cta > form > button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  color: var(--background);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 150ms;
}

.cta > form > button:hover,
.cta > form > button:focus-visible {
  color: var(--foreground);
  background-color: var(--muted);
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0 4rem;
}

footer > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

footer li {
  color: var(--foreground-muted);
  margin-bottom: 0.5rem;
}

footer div:last-child > p {
  margin: 0 auto;
  color: var(--foreground-muted);
  font-size: 0.9rem;
}
